<container class="portfolio_tips">
  <row>
    <columns>
      <p class="portfolio_tips_text">
        Crafting a portfolio that shows care and consideration is paramount,
        especially so if you’re new to the field and on the lookout for a new
        role. There are a litany of completely avoidable mistakes that designers
        need to keep an eye out for as they build up their portfolio. Our
        friends at Designlab joined us to outline the most
        <a
          href="https://dribbble.com/stories/2019/07/10/15-ux-portfolio-mistakes-to-avoid-as-a-junior-designer?utm_campaign=2020-03-02&utm_medium=email&utm_source=job_digest"
          target="_blank"
          >common mistakes junior UX designers make</a
        >
        when crafting their portfolios—and how they can be avoided. Some of the
        go-to methods for maneuvering around common portfolio pitfalls involve
        remembering to:
      </p>
      <ul>
        <li>
          <p>
            <img src="{{ root }}/assets/img/user_icon.png" /><b
              >Never forget the user</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/eye_icon.png" /><b
              >Show the right amount of work</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/chatbubble_icon.png" /><b
              >Show the right amount of narrative</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/sparkle_icon.png" /><b
              >Provide clarity about your role</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/camera_icon.png" /><b
              >Show optimized images</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/writing_icon.png" /><b
              >Have perfect copy</b
            >
          </p>
        </li>
        <li>
          <p>
            <img src="{{ root }}/assets/img/megaphone_icon.png" /><b
              >Feature a call-to-action</b
            >
          </p>
        </li>
      </ul>

      <p class="portfolio_tips_text">
        Before starting any prep work on your own refresh, be sure to check out
        our complete article for Designlab’s
        <a
          href="https://dribbble.com/stories/2019/07/10/15-ux-portfolio-mistakes-to-avoid-as-a-junior-designer?utm_campaign=2020-03-02&utm_medium=email&utm_source=job_digest"
          target="_blank"
          >step-by-step tips to build your UX portfolio</a
        >
        in a way that will make you stand out and shine. Also remember
        Designlab’s take on the importance of showing your work off well:
      </p>

      <p class="portfolio_tips_quote">
        “A portfolio site is a place to display your work online. But if you’ve
        ever tried updating your design portfolio, you know that the decisions
        involved can quickly get overwhelming. What’s more, the stakes are
        high—get those decisions right, and they can land you a job. Get them
        wrong, and you might be passed by.” <span>■</span>
      </p>
    </columns>
  </row>
  <row class="white_space">
    <columns> </columns>
  </row>
</container>
