<container>
  <row>
    <columns class="job_postings_column">
      <!-- JOB STARTS -->
      <row>
        <columns large="2" small="2">
          <img src="{{ root }}/assets/img/robot_icon.png" />
        </columns>
        <columns large="10" small="12">
          <h4><a href="#">Product Designer</a></h4>
          <p>thoughtbot - Boston, MA</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            We’re looking for a well-rounded designer to join our team in Boston
            who is interested in growing their design and consulting skill-set
            over time. ...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns large="2" small="2">
          <img src="{{ root }}/assets/img/marketing_icon.png" />
        </columns>
        <columns large="10" small="12">
          <h4><a href="#">Marketing Designer</a></h4>
          <p>askSpoke - San Francisco, CA</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            We’re looking for a Marketing Designer here at askSpoke. It is a
            part-time role in San Francisco, CA that is remote-friendly.
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns large="2" small="2">
          <img
            src="{{ root }}/assets/img/ux_icon.png"
            style="border-radius: 50px;"
          />
        </columns>
        <columns large="10" small="12">
          <h4><a href="#">UX / UI Designer (full-time & freelance) </a></h4>
          <p>Lighthouse London - London, UK</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            We're after people who can create beautiful visuals and functional,
            well thought out interfaces for the applications that we build.
            You’ll be famil...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">Scrum Master/ Lean Agent (m/f/d) (Open)</a></h4>
          <p>Covestro Deutschland AG - Leverkusen</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            We are Covestro. We are curious. We are courageous. We are colorful.
            We redefine chemical material solutions with game-changing products.
            Let us em...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">Senior UI/Visual designer</a></h4>
          <p>Marfeel - Barcelona</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            Marfeel is a publishing platform that that revolutionizes the way
            publishers create, optimize and monetize mobile websites. Over 850
            publishers, in...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">Brand Designer</a></h4>
          <p>ProtonMail - Geneva, Zurich, Prague, Skopje, Vilnius</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            ProtonMail was born at the European Organization for Nuclear
            Research (CERN) in 2013 when a group of scientists and engineers
            envisioned an email s...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB POSTING TIP -->
      <row>
        <columns class="job_posting_sponsored">
          <p>Sponsored</p>

          <img
            src="{{ root }}/assets/img/exclamation_mark_icon.png"
            valign="middle"
          />
        </columns>
      </row>

      <row>
        <columns class="job_posting_tip_title">
          <h4>
            How about a degree that could land you that creative director Job?
          </h4>
        </columns>
      </row>

      <row>
        <columns class="job_posting_tip_content" large="8">
          <p>
            Always be learning—it’s definitely a good mindset for your design
            work. And learning is one of the best ways to get you primed for the
            next step in your creative career, too. Georgetown University’s
            online Master’s in Design Management & Communications does just
            that, preparing you with the business skills and design thinking
            strategies you need to make your mark. With flexible options to take
            classes part-time and online,
            <a
              href="https://scs.georgetown.edu/programs/446/master-of-professional-studies-in-design-management-communications/?utm_source=dribbble&utm_medium=email&utm_campaign=fy20-dmi-dmc-stu-email-dribbb-en-content-imgtxt-courtside"
              target="_blank"
              >you can earn your degree and keep learning in a way that fits
              your life.</a
            >
          </p>
        </columns>
        <columns large="4" small="12">
          <img
            src="{{ root }}/assets/img/job_posting_tip_pic.jpg"
            valign="middle"
            style="width: 168px; padding: 0 20px;"
            class="float-center"
          />
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">Product Designer</a></h4>
          <p>Dave.com - Los Angeles, CA</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            We currently help over 1,000,000 people thrive, and not just
            survive, between paychecks. We are started by a 4X entrepreneur
            ($85mm exit) and are b...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">Principal Product Designer</a></h4>
          <p>theSkimm - New York, NY, USA</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            theSkimm’s design team is a group of fast-moving and creative
            thinkers who thrive on creating beautiful products Skimm’rs love.
            This role is ...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- JOB STARTS -->
      <row>
        <columns>
          <h4><a href="#">IOS app designer</a></h4>
          <p>Billaway - new york, ny</p>
        </columns>
      </row>

      <row>
        <columns>
          <p>
            Seeking an experienced designer to work with the internal team in
            their efforts to design a new app. The designer will take wire frame
            like drawin...
          </p>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>

      <!-- VIEW MORE JOB BUTTON -->
      <row>
        <columns>
          <div class="button_container">
            <div class="button">
              <a href="#">View all design jobs</a>
            </div>
          </div>
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>
    </columns>
  </row>
</container>
