<container>
  <row class="white_space">
    <columns> </columns>
  </row>

  <row>
    <columns class="footer_column">
      <row>
        <columns class="footer_text_container">
          <p>
            You elected to receive Weekly Jobs emails.
          </p>
        </columns>
      </row>

      <row>
        <columns class="footer_text_container">
          <p>
            No longer interested?
            <a href="#" style="text-decoration: underline;">Unsubscribe</a> or
            <a
              href="http://email.n.dribbble.com/c/eJxVj8tuwyAQRb_G3hFhoBgvWESq8hvR8HKmMhDBuN9fUnWRSrO4jzmLG2zQYhV6RgtRGqm1YmHbFFPCOeaMMcxsi1kkfKwrj5Pi5RIaOueOePE1zw_rUjJKbg604mrxUSTjwAcjlOBJL2Y-7IPo2Sd5ncRt3Ds_LHhfz0JDlUqY0ANhLeP9dlK-e8hPwL1M8lNwwRmXjItJ6FeXY8AzjyZmwOMv7PVsPo7wq7p7wD12mpvN0AhLxgbHEbvWY8j-gn43kI3fsRB7I8j-M65VCB469R9hm2OW"
              target="_blank"
              style="text-decoration: underline;"
              >manage your subscriptions</a
            >.
          </p>
        </columns>
      </row>

      <row>
        <columns class="footer_text_container">
          <p>
            Dribbble Holdings Ltd.
            <a
              href="http://email.n.dribbble.com/c/eJxVUU1rwzAM_TXpLcGWHcc-5LC29LLjYGOnIn8k9YiTkrhr2a-f0m6wgZDQe356lu1br6ABtYktBqGFUrL0xshSgrWl1VqX2nDNBdZNw0Ih2Vj5OVprh1C5KW1OrRNog_fB1wq7jrlgXBfAMWEb0Oj0ZmhPOZ-XQjwVcKC4Xq9VP039YwIBCYmFw3lAF6jWIAvYvmMOhG5fcgE7qq_R5WmO-Oi2d0i_UebP-oHtcESPq4dkUlcSlFESiCs5iEo0XGllqOXNFx3ymLEQ-wK4SJyytPec6jtCN-B8Ybda6q6RxgpGAY7TEuyGCB6sM8x1squVoLM6warzv76sWYf5h7My0oApxOGS09FhOmPsR_IGBqxkomSkVSuXgo-XRExIGIcfcJkuM72L2H9M9uhjH5a8mduEc45jijMOQ1iUop37VXT_lNyGzzDm8o8it_8aO0_oHS55-QbA8JZp"
              target="_blank"
              style="color: #3a8bbb;"
              >• 524 Yates St. • Victoria, BC V8W1K8, Canada</a
            >
          </p>
        </columns>
      </row>

      <row>
        <columns>
          <img
            src="{{ root }}/assets/img/dribbble_basketball.jpg"
            class="float-center"
          />
        </columns>
      </row>

      <row class="white_space">
        <columns> </columns>
      </row>
    </columns>
  </row>
</container>
