<container>
  <row class="white_space">
    <columns> </columns>
  </row>

  <!-- DRIBBBLE LOGO -->
  <row>
    <columns class="header_logo" valign="middle">
      <img
        src="{{ root }}/assets/img/dribbble_logo.jpg"
        class="dribbble_logo float-center"
      />
    </columns>
  </row>

  <row>
    <columns class="white_space"> </columns>
  </row>

  <!-- LARGE IMAGE -->
  <row>
    <columns class="header_iamge" valign="middle">
      <img
        src="{{ root }}/assets/img/header_image.png"
        class="dribbble_logo float-center"
      />
    </columns>
  </row>

  <!-- IMAGE ARTIST -->
  <row>
    <columns class="" valign="middle">
      <span class="artist_info float-left"
        >Art by
        <a
          href="https://dribbble.com/Jonathan_Holt?utm_campaign=2020-03-02&utm_medium=email&utm_source=job_digest"
          target="_blank"
          >Jonathan Holt</a
        ></span
      >
    </columns>
  </row>
</container>
